*, *::after, *::before { 
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 4rem);
  grid-template-rows: 7rem 2rem 7rem;
  gap: .5rem;
  cursor: default;
  justify-content: center;
  padding-top: 1rem;
  border: 1px solid black;
}

.deck {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: .5rem;
  color: white;
  user-select: none;
  border: 1px solid black;
}

.button {
  display: inline-block;
outline: none;
cursor: pointer;
font-size: 8px;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border: 1px solid transparent;
letter-spacing: 2px;
min-width: 100px;
text-transform: uppercase;
white-space: normal;
font-weight: 400;
text-align: center;
padding: 10px 10px 18px;
color: #616467;
box-shadow: inset 0 0 0 2px #616467;
background-color: transparent;
height: 30px;
:hover{
    color: #fff;
    background-color: #616467;
}}

.DONButtonYes {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  visibility: hidden;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.DONButtonNo {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  visibility: hidden;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button2 {
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 10px 10px 18px;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #dddbda;
  color: #0070d2;
  font-size: 12px;
  line-height: 10px;
  height:  30px;
  width: 100px;
  font-weight: 400;
  text-align: center;
  :hover {
      background-color: #f4f6f9;
  }
}

.computer-deck {
  background-color: green;
}

.player-deck {
  background-color: blue;
}

.dealer-deck {
  background-color: green;
}

.text {
  grid-column: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: white;
}

.selected-card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 5px solid lightgrey;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: lightgrey;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}